#root {
  height: 100%;
}
#root .App {
  height: 100%;
}
#root .App > section {
  height: 100%;
}
.ant-layout-content > div {
  height: 100%;
}
.deviceList li{
  text-align: left;
}
.pi_device_card_list {
  display: flex;
  flex-wrap: wrap;
}

.view_GPIOOverview {
  display: flex;
}

.weatherView {
  background-color: #4675C0;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}
.weatherView .weatherTitle {
  text-align: center;
}
.weatherView .weatherTitle .location {
  font-size: 21px;
}
.weatherView .weatherTitle .date {
  font-size: 16px;
}
.weatherView .weatherCardList {
  padding: 10px 10px;
}
.weatherView .weatherCard {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin-top: 8px;
}
.weatherView .weatherCard .cardValue {
  line-height: 1.2rem;
}
.weatherView .weatherCard .cardIcon {
  height: 70%;
  width: 40%;
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.weatherView .weatherCard.switch {
  flex-direction: column;
}
.weatherView .weatherCard.switch .switchCardContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}
.weatherView .weatherCard.switch .switchContainer {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherView .weatherCard.switch .cardIcon {
  height: 70%;
  width: 100%;
  background-position: 40% 40%;
  background-size: auto 95%;
  background-repeat: no-repeat;
  margin: 0px;
  
}
.weatherView .weatherCard.switch .mask.active {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.5)
}
.weatherView .weatherCard.switch .switchContainer:first-child .mask {
  border-right: 1px solid white;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.weatherView .weatherCard.switch .switchContainer:last-child .mask {
  border-left: 1px solid white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.icon.temperature {
  background-image: url(./temperature.png);
}
.icon.humidity {
  background-image: url(./humidity.png);
}
.icon.pressure {
  background-image: url(./pressure.png);
}
.icon.rainny {
  background-image: url(./rainny.png);
}
.icon.wind {
  background-image: url(./wind.png);
}
.icon.clearNight {
  background-image: url(./clearNight.png);
}
.icon.clearMorning {
  background-image: url(./clearMorning.png);
}
.icon.light {
  background-image: url(./light.png);
}

.weatherChartList {
  padding: 10px;
}
.weatherChart .weatherChart {
  width: 100%;
}
.weatherChart > div {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  height: 200px;
  width: 100%;
  margin-top: 20px;
}
.weatherView .weatherContent {
  overflow: auto;
  height: calc( 100% - 80px);
}